<%- layout('./layouts/boilerplate') %>

<h1>Manage Orders</h1>
<div class="o-container">
  <div class="o-card">
    <div class="">Order No : </div>
    <div>Full Name : </div>
    <div>Contact No : </div>
    <div >Order Date</div>
    <div class="">Status : </div>
    <div >Action : </div>       
  </div>
</div>
    