<%- layout('./layouts/boilerplate') %>

  <h1>Manage Orders</h1>
  <div class="o-container">

    <div class="order-main">

      <div class="cart">
        <div class="cart-deatail">
          <p class="p">Image</p>
          <div class="cart-image">
            <img src="https://images.unsplash.com/photo-1614174486496-344ef3e9d870?q=80&w=1888&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
          </div>
        </div>
        <div class="cart-detail">
          <p class="p">Product</p>
          <p>
            Chocolate Cake
          </p>

        </div>
        <div class="cart-detail">
          <p class="p">Price</p>
          <p>
            76887
          </p>
        </div>
        <div class="cart-detail">
          <p class="p">Quntity</p>
          <p><span id="c-value">
              1
            </span>
          </p>

        </div>
        <div class="cart-detail">
          <p class="p">Cancel order</p>
          <a class="rem" href="">x</a>

        </div>
        <div class="line"></div>
      </div>

    </div>
    <div class="o-card">
      <div class="dp1">
        <div class="">Order No : </div>
        <div>Full Name : </div>
        <div>Contact No : </div>
      </div>
      <div class="dp1">
        <div>Order Date: </div>
        <div class="">Status : </div>
        <div>Action : </div>
      </div>
    </div>
    <h4 style="padding-left: 22px;">Shipping Address: </h4>
    <div class="o-card">
      <div class="dp1">
        <div class="">Phone no. : </div>
        <div>Famous Location : </div>
        <div>City : </div>
      </div>
      <div class="dp1">
        <div>State: </div>
        <div class="">Country : </div>
        <div>Pincode : </div>
      </div>
   </div>
</div>
 